<h2>SE3350b - Software Engineering Design I </h2>
<p>Description: This course aims to give students a practical experience of a software production environment similar to that found in software industry. The centrepiece of the laboratory is a large group project in which students will plan, design, document and implement a piece of industrial strength software. In addition, labs on specific tools and techniques will be given.</p>
{{course-logo}}