<div class="row">
    <div class="large-12 columns">
        <h2>Contact</h2>
        <h3>Webby</h3>
    </div>

    <div class="large-6 columns">
        <ul class="square">
            <li>{{#link-to 'contact.phone'}}Phone{{/link-to}}</li>
            <li>{{#link-to 'contact.email'}}Email{{/link-to}}</li>
        </ul>
    </div>
    <div class="large-6 columns">
      {{outlet}}
    </div>
</div>

