<h1>This is a sample Ember application</h1>
<br>
<br>
<h4>This app provides functionality for:</h4>
<ul>
    <li>Manage Students Records</li>
    <li>Manage User Profile and Changing Password</li>
    <li>Manage User Accounts and Resetting Password</li>
    <li>Manage System Features</li>
    <li>Manage System Roles</li>
    <li>Manage Users Privileges</li>
</ul>
