<h2>Students List</h2>
<!-- <ul class="circle">
    <ul>
      {{#each model as |oneStudent|}}
          <div class="large-6 columns">
              <li>
                {{#link-to 'student' oneStudent.id}}{{oneStudent.firstName}} {{oneStudent.lastName}}
                {{/link-to}}
              </li>
          </div>
          <div class="large-6 columns">
            {{delete-student ID=oneStudent.id}}
          </div>
          <div></div>
      {{/each}}
    </ul>
</ul> -->

{{add-new-student modelS = model}}
