<div class="row">
	<!-- {{#file-picker fileLoaded="fileLoaded" accept=".xlsx" readAs="readAsBinaryString"}}
		Drag here or click to upload a file
	{{/file-picker}} -->

	<input type="file" id="fileInput" />
	<button {{action 'fileUpload'}}>Upload</button>
	<!-- <div id='my_file_output'></div> -->
</div>
