<!-- Display the login screen with the main application background -->

<section class="hero">
    <div class="row intro">
        <div  >
            <div class="row">
                <div class="medium-6 medium-centered large-4 large-uncentered columns">
                    <form>
                        <div class="row column log-in-form">
                            <h3 class="text-center">Log in to <br> SE3350b Course Blog</h3>
                            <label>User Name
                              {{input value=name  type="text" placeholder="user name"}}
                            </label>
                            <label>Password
                              {{input value=password  type="password" placeholder="password"}}
                            </label>
                            <input id="show-password" type="checkbox"><label for="show-password">Show password</label>

                            <p><a href="#" class="button radius" {{action 'login'}}>Log In</a></p>

                            <p class="text-center"><a href="#">Forgot your password?</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



