
{{#if logoIsShowing}}
    <a href="#" class="button round" {{action 'hideLogo'}}>Hide Logo</a>
    <p><img src="assets/images/webby-logo.png" alt="Course Logo"></p>
{{else}}
    <a href="#" class="button round" {{action 'showLogo'}}>Show Logo</a>
{{/if}}
