<div class="row">
    <div class= "large-1 large-centered columns">
        <a href="#" class="button" {{action 'distributionResults'}}>Distribute Students</a>
    </div>
</div>
<div class="large-12  large-centered columns">
    <div class="panel">
        <table>
            <thead>
                <tr>
                    <th width="200">Student Name</th>
                    <th width="150">Student Number</th>
                    <th width="300">Results</th>
                </tr>
            </thead>
            <tbody>
                {{#each studentModel as |oneDR|}}
                    <tr>
                        <td>{{oneDR.date}}</td>
                        <td>{{oneDR.students.number}}</td>
                        <td>{{oneDR.commentCode.description}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>